<header class="header">
    <div class="header__barra contenedor">
        <div class="header__logo">
            <img src="../../../../assets/img/logo.svg" alt="logo real estate">
        </div>

        <nav class="navigation">
            <a class="navigation__link">Nosotros</a>
            <a class="navigation__link">Propiedades</a>
            <a class="navigation__link">Blog</a>
            <a class="navigation__link">Testimoniales</a>
            <a class="navigation__link">Contacto</a>
        </nav>

        
    </div>

    <div class="contenedor ">
        <div class="header__contenido ">
            <h1 class="header__heading">Encuentra tu casa de lujo al mejor precio</h1>
            <p class="header__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Repellendus, exercitationem iste eveniet deleniti deserunt, optio similique 
                 cupiditate sequi ut aspernatur consequuntur debitis natus dignissimos? 
                 Quisquam modi eos saepe fugiat excepturi.
            </p>
            <img src="../../../../assets/img/imagenHeader.jpg" class="header__imagen" alt="imagen header">
        </div>
    </div>

</header>