<div class="blog-testimoniales contenedor" >
    <section class="blog-testimoniales__testimoniales">
        <h2 class="blog-testimoniales__heading">Que dicen <span>Nuestros Clientes</span></h2>

        <div class="testimonial">
            <img class="testimonial__imagen" src="../../../assets/img/testimonial.jpg" alt="testimonial-img">
            <div class="testimonial__contenido"> 
                <h3 class="testimonial__nombre">Familia Hernandez</h3>
                <p class="testimonial__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Odit necessitatibus et mollitia iure porro dolore cum maxime, perspiciatis enim
                      officia maiores excepturi dicta dolor dolores sed hic autem vitae doloribus.
                </p>
            </div>
        </div>

    </section>
    <section class="blog-testimoniales__blog">
        <h2 class="blog-testimoniales__heading">Ultimas entradas <span>de nuestro Blog</span></h2>

        <div class="entrada">
            <div class="entrada__imagen-contenedor">
                <img class="entrada__imagen" src="../../../assets/img/blog_1.jpg" alt="img-blog-1">
            </div>
            <div class="entrada__contenido">
                <h3 class="entrada__nombre">Titulo aqui</h3>
                <p class="entrada__meta">Publicada por bienes raices el 4 de diciembre 2023 - 10 comentarios</p>
                <p class="entrada__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora labore eius excepturi deleniti nisi repellendus dolorum vero repudiandae,
                     culpa impedit dolor suscipit aliquid alias, maxime sapiente.
                </p>
                <a class="entrada__link">Leer Articulo</a>
            </div>
        </div>

        <div class="entrada">
            <div class="entrada__imagen-contenedor">
                <img class="entrada__imagen" src="../../../assets/img/blog_2.jpg" alt="img-blog-2">
            </div>
            <div class="entrada__contenido">
                <h3 class="entrada__nombre">Titulo aqui</h3>
                <p class="entrada__meta">Publicada por bienes raices el 4 de diciembre 2023 - 10 comentarios</p>
                <p class="entrada__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora labore eius excepturi deleniti nisi repellendus dolorum vero repudiandae,
                     culpa impedit dolor suscipit aliquid alias, maxime sapiente.
                </p>
                <a class="entrada__link">Leer Articulo</a>
            </div>
        </div>

        <div class="entrada">
            <div class="entrada__imagen-contenedor">
                <img class="entrada__imagen" src="../../../assets/img/blog_3.jpg" alt="img-blog-3">
            </div>
            <div class="entrada__contenido">
                <h3 class="entrada__nombre">Titulo aqui</h3>
                <p class="entrada__meta">Publicada por bienes raices el 4 de diciembre 2023 - 10 comentarios</p>
                <p class="entrada__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempora labore eius excepturi deleniti nisi repellendus dolorum vero repudiandae,
                     culpa impedit dolor suscipit aliquid alias, maxime sapiente.
                </p>
                <a class="entrada__link">Leer Articulo</a>
            </div>
        </div>

    </section>
</div>