<section class="pDestacada">
    <div class="pDestacada__grid contenedor">
        <div class="pDestacada__contenido">
            <h3 class="pDestacada__heading">Propiedad destacada</h3>
            <p class="pDestacada__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Dolores ducimus saepe sunt. Nesciunt repudiandae ullam quidem,
              amet mollitia magni cum ea aut beatae maxime sed tenetur
               id quia similique fugiat.
            </p>
            <p class="pDestacada__precio">$ 12,000,000.00</p>
            <a class="pDestacada__link">Ver propiedad</a>
        </div>
    </div>
</section>