<footer class="footer">
    <div class="footer__grid contenedor">
        <div class="footer__box">
            <h3 class="footer__heading">Navegacion</h3>
            <nav class="navigation">
                <a class="navigation__link navigation__link--vertical">Nosotros</a>
                <a class="navigation__link navigation__link--vertical">Propiedades</a>
                <a class="navigation__link navigation__link--vertical">Blog</a>
                <a class="navigation__link navigation__link--vertical">Testimoniales</a>
                <a class="navigation__link navigation__link--vertical">Contacto</a>
            </nav>
        </div>

        <div class="footer__box">
            <h3 class="footer__heading">Nosotros</h3>
            <p class="footer__texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Blanditiis id minus velit optio iure eveniet sint impedit,
                 vero harum architecto consequuntur veritatis molestias 
                 deserunt incidunt eum expedita facere eos illum.
            </p>
        </div>

        <div class="footer__box">
            <img class="footer__img" src="../../../../assets/img/logo.svg">
        </div>

    </div>
    <p class="footer__copyright">
        Todos los derechos reservados Real State
    </p>
</footer>